$wordiableOne: hsla(6, 71%, 56%, 1);
$wordiableTwo: hsla(28, 85%, 61%, 1);
$wordiableThree: hsla(47, 85%, 66%, 1);
$wordiableFour: hsla(140, 27%, 34%, 1);
$wordiableFive: hsla(217, 65%, 52%, 1);
$wordiableSix: hsla(222, 51%, 34%, 1);
$wordiableSeven: hsla(264, 40%, 40%, 1);
