@import './styles.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 48rem;
	width: 100%;
	padding-inline: 1.75rem;
	padding-block-end: 1.75rem;
	height: 65rem;
	background: #e5e5e5;
	position: relative;
	border-radius: 5px;
	border: 1px solid #000;
}

.heading {
	margin: 0;
	color: #525252;
}

.editor {
	position: relative;
	height: 100%;
	width: 100%;
	background: #fff;
	overflow-y: auto;
	.textEditor {
		border: none;
		width: 100%;
		padding: 1rem;
		resize: none;
		outline: none;
		opacity: .5;
	}
	.liveEditor {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		p {
			padding-inline-start: 1rem;
			position: absolute;
			inset: 0;
		}
	}
}

.one {
	@include colorWheel('one');
}

.two {
	@include colorWheel('two');
}

.three {
	@include colorWheel('three');
}

.four {
	@include colorWheel('four');
}

.five {
	@include colorWheel('five');
}

.six {
	@include colorWheel('six');
}

.seven {
	@include colorWheel('seven');
}
