@import './styles.scss';

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 1px solid $light-clr-i;
	border-radius: 5px;
	max-width: 48rem;
	width: 100%;
	height: 65rem;
	padding-inline: 1.75rem;
	padding-block-end: 1.75rem;
	background: $light-clr-ii;
}

.heading {
	margin: 0;
	color: $light-clr-i;
}

.editor {
	position: relative;
	overflow-y: auto;
	height: 100%;
	width: 100%;
	background: $light-clr-iii;
	white-space: pre-wrap;
	.textEditor {
		resize: none;
		border: none;
		outline: none;
		width: 100%;
		height: 100%;
		padding: .98rem;
	}
	.liveEditor {
		position: absolute;
		inset: -.02rem 0;
		width: 100%;
		height: 100%;
		padding-inline: .98rem;
		pointer-events: none;
	}
}

.one {
	@include colorWheel('one');
}
.two {
	@include colorWheel('two');
}
.three {
	@include colorWheel('three');
}
.four {
	@include colorWheel('four');
}
.five {
	@include colorWheel('five');
}
.six {
	@include colorWheel('six');
}
.seven {
	@include colorWheel('seven');
}
